POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=phones_db
JWT_SECRET=phonestore-jwt-secret-cs464
ADMIN_PASSWORD=adminpassword
STRIPE_SECRET_KEY=
COMPOSE_PROJECT_NAME=ringr_mobile
REDIS_URL=redis://redis:6379